<div class="container">
    <div class="row mb-2 mt-2 text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h5>User Management Portal</h5>
            <h6 class="lead">title</h6>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" aria-label="Logo">
                <img src="assets/image/angular.png" alt="Logo" width="28" height="26">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#users">
                            <i class="fa fa-users"></i> Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#reset-password">
                            <i class="fa fa-cogs"></i> Settings
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#profile">
                            Welcome, magadiflo <i class="fa fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>